/* SUB NAV
----------------------------------------------- */
.gd-subnav {
	background: #ddd;
	display: block;
	height: 44px;
	width: 320px;
}

.gd-subnav li {
	display: inline-block;

}

.gd-subnav a {
	color: #fff;
}


/* GAME DAY - SCHEDULE
----------------------------------------------- */
.game-day .schedule .item ul li {
	float: left;
	font-size: 14px;
	padding: 16px 0;
}

.game-day .schedule .date {
	margin-right: 20px;
}
.game-day .schedule ul li.location {
	float: right;
}
