/* SUB NAV
----------------------------------------------- */
.gd-subnav {
	background: #ddd;
	display: block;
	height: 44px;
	width: 320px;
}

.gd-subnav li {
	display: inline-block;

}

.gd-subnav a {
	color: #fff;
}


/* GAME DAY
----------------------------------------------- */
.game-day .main {
  padding: 0;
  width: 320px;
}

.game-day .item.tab {
/*    background: url(../images/table-header-bg.png) repeat-x 0 0;
    background-size: 100%;*/
    height: 34.5px;
    position: fixed;
    top: 0;
    width: 320px;
}

.gd-list.active {
  display: block!important;
}

.game-day .gd-list .item {
  background: url(../images/gd-bg.png) repeat-x 0 0;
  background-size: 3.2%;
  display: block;
  line-height: 12px;
  height: 48px;
}

.game-day .gd-list .item ul li {
  color: #3a3a3a;
	float: left;
	font-size: 12px;
	padding: 16px 0;
}

.game-day .tab li {
  color: #fff;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 0 3px 0;
	
	background: url(../images/table-header-bg.png) repeat-x 0 0;
	background-size: 50% 100%;
	height: 22.5px;
}

.game-day .tab li.active {
	background: url(../images/table-header-bg-selected.png) repeat-x 0 0;
}

  /* SCHEDULE */
  .game-day .gd-list .date {
    margin-left: 15px;
  	margin-right: 20px;
  }
  
  .game-day .gd-list .team {
    font-weight: bold;
  	margin-left: 8px;
  }
  
  .game-day .gd-list ul li.location {
  	float: right;
   	margin-right: 15px;
  }

  /* ROSTER */
  .roster .item.heading {
/*    background: #444;
    height: 24px;*/
  }
  
  .roster .gd-list .item.heading li {
      color: #777;
	  font-weight: bold;
	  text-shadow: 0 -1px 0 white;
/*      line-height: 24px;*/
/*      height: 24px;*/
/*      padding: 0!important;*/
  }
  
  .roster .teams li {
    text-align: center;
    width: 160px;
  }

  .game-day .gd-list {
    margin-top: 34.5px;
  }
  
  .game-day .gd-list .number {
    margin-left: 15px;
  	margin-right: 20px;
	text-align: center;
	width: 20px;
  }
  
  .game-day .gd-list .name {
    font-weight: bold;
  	margin-left: 45px;
	margin-right: 15px;
	width: 140px;
  }

  .game-day .gd-list .item .position {
	text-align: center;
	width: 50px;
  }